header {
    text-align: center;
    color: rgb(138, 139, 122);
}
body{
    background-color: blueviolet;
}
main {
    text-align: center;
    color: black;
}
button{
    display: inline-block;
    margin-left: 1,2em;
}
.forcss {
    display: inline-block;
}